In [1]:
import pandas as pd
import numpy as np

In [9]:
# Read the data
df = pd.read_csv("human_data.csv")

# reset index columns
df = df[df.columns.values[1:]]

df

   Gender  Height  Weight  Foot_Size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6
5  female    5.50     150          8
6  female    5.42     130          7
7  female    5.75     150          9

In [10]:
# Counting number of males and female records
no_male = data["Gender"][data["Gender"]=="male"].count()
no_female = data["Gender"][data["Gender"]=="female"].count()

# Counting number of rows
total_count = data["Gender"].count()

In [11]:
# Calculating the probability of being a male
p_male = no_male/total_count

# Calculating the probability of being a female
p_female = no_female/total_count

In [12]:
# Group the data by gender and calculate the means of each feature
data_means = data.groupby('Gender').mean()

# View the values
data_means

        Height  Weight  Foot_Size
Gender
female  5.4175  132.50       7.50
male    5.8550  176.25      11.25

In [14]:
# Group the data by gender and calculate the variance of each feature
data_variance = data.groupby('Gender').var()

# View the values
data_variance

          Height      Weight  Foot_Size
Gender
female  0.097225  558.333333   1.666667
male    0.035033  122.916667   0.916667

In [16]:
# Means for male
male_height_mean = data_means['Height'][data_variance.index == 'male'].values[0]
male_weight_mean = data_means['Weight'][data_variance.index == 'male'].values[0]
male_footsize_mean = data_means['Foot_Size'][data_variance.index == 'male'].values[0]

# Variance for male
male_height_variance = data_variance['Height'][data_variance.index == 'male'].values[0]
male_weight_variance = data_variance['Weight'][data_variance.index == 'male'].values[0]
male_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'male'].values[0]

# Means for female
female_height_mean = data_means['Height'][data_variance.index == 'female'].values[0]
female_weight_mean = data_means['Weight'][data_variance.index == 'female'].values[0]
female_footsize_mean = data_means['Foot_Size'][data_variance.index == 'female'].values[0]

# Variance for female
female_height_variance = data_variance['Height'][data_variance.index == 'female'].values[0]
female_weight_variance = data_variance['Weight'][data_variance.index == 'female'].values[0]
female_footsize_variance = data_variance['Foot_Size'][data_variance.index == 'female'].values[0]

In [17]:
# Create a function that calculates p(x | y):
def p_x_given_y(x, mean_y, variance_y):

    # Input the arguments into a probability density function
    p = 1/(np.sqrt(2*np.pi*variance_y)) * np.exp((-(x-mean_y)**2)/(2*variance_y))
    
    # return p
    return p

In [35]:
def predict(data):
    prob_male = p_male * p_x_given_y(data['Height'][0], male_height_mean, male_height_variance) * \
                p_x_given_y(data['Weight'][0], male_weight_mean, male_weight_variance) * \
                p_x_given_y(data['Foot_Size'][0], male_footsize_mean, male_footsize_variance)
    
    prob_female = p_female * \
                p_x_given_y(data['Height'][0], female_height_mean, female_height_variance) * \
                p_x_given_y(data['Weight'][0], female_weight_mean, female_weight_variance) * \
                p_x_given_y(data['Foot_Size'][0], female_footsize_mean, female_footsize_variance)
    
    return "male" if prob_male>prob_female else "female"

In [44]:
#
# Predicting o new data
#
person = pd.DataFrame()
person['Height'] = [5.8]
person['Weight'] = [170]
person['Foot_Size'] = [12]

person2 = pd.DataFrame()
person2['Height'] = [5.4]
person2['Weight'] = [140]
person2['Foot_Size'] = [8]

person3 = pd.DataFrame()
person3['Height'] = [6]
person3['Weight'] = [130]
person3['Foot_Size'] = [8]

In [45]:
predict(person)

'male'

In [46]:
predict(person2)

'female'

In [47]:
predict(person3)

'female'